@import "../../styles/variables.css";

.container {
  background-color: var(--background-secondary-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 2rem;
  border-radius: 8px;
  padding: 1rem;
}

.container:nth-child(even) {
  margin: 1.5rem 2rem;
}
.headingContainer {
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.imageContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 1rem 0 0;
}
.icon {
  width: 15%;
}
.icon:nth-child(even) {
  margin: 0 0 0 0.5rem;
  /* padding: 0 0 0 1rem; */
}
.cardName {
  /* width: 80%; */
  color: #ffffff;
}
.listContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
}
.listItem {
  display: flex;
  flex-direction: row;
}
.textLabel {
  color: var(--text-accent-color);
  font-weight: bold;
  margin-right: 0.5rem;
}
.text {
  color: #ffffff;
}
.link {
  color: #ffffff;
}
