@import "../../../styles/variables.css";

.container {
  width: 100%;
  height: 100dvh;
  position: absolute;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 0;
  padding: 2rem 0 0 0;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2rem 2rem 2rem;
}
.headerLink {
  width: 20%;
}
.headerImage {
  width: 40%;
}
.heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #ffffff;
  font-size: 1.75rem;
}
