@import "../../styles/variables.css";

.container {
  background-color: var(--background-primary-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topWrapper {
  background-color: var(--background-primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.logo__image {
  margin: 0.5rem 0;
  width: 40%;
}
.title {
  margin: 0.5rem 0;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
.profile__picture {
  width: 18%;
  margin: 0.5rem 0.25rem;
}
.profile__name {
  margin: 0.5rem 0.25rem;
  text-align: center;
}
.profile__dropdown {
  width: 8%;
  margin: 0.5rem 0.25rem;
}
.subheader {
  background-color: var(--background-primary-color);
  text-align: center;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: var(--text-accent-color);
  color: white;
  border: none;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--background-secondary-color);
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  list-style-type: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.itemText {
  text-decoration: none;
}
.itemText:hover {
  border-bottom: 4px solid var(--text-accent-color);
}
.itemTextActive {
  border-bottom: 4px solid var(--text-accent-color);
}

.search {
  margin: 0 1rem 1rem 1rem;
  /* padding: 0 1rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid var(--text-secondary-color);
  background-color: var(--background-primary-color);
}
.search:focus-within {
  border-bottom: 2px solid var(--text-accent-color);
}
.search:nth-child(0) {
  margin: 0 1rem 0 0;
}
.search:nth-child(2) {
  margin: 0 0 0 0;
}
.input {
  width: 80%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: none;
  background-color: var(--background-primary-color);
}
.input:focus {
  outline: none;
}
.searchIcon {
  width: 6%;
}
