@import "../../styles/variables.css";

.container {
  width: 100%;
  height: 100dvh;
  position: absolute;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 4rem;
}
.title {
  color: #ffffff;
  margin: 1rem 0;
}
.closeContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}
.closeButton {
  width: 10%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 4rem;
}
.label {
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}
.input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 6px;
}
.input:focus {
  outline: 4px solid var(--text-accent-color);
}
.loginSubmit {
  margin: 1rem 0;
  border-radius: 4px;
  border: none;
  padding: 0.5rem 4rem;
  background-color: var(--background-primary-color);
}
.loginSubmit:hover {
  outline: 4px solid var(--text-accent-color);
}
.register {
  display: flex;
  flex-direction: column;
}
.registerText {
  color: #ffffff;
}
.registerButton {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-accent-color);
}
.registerButton:hover {
  color: #ffffff;
  font-weight: bold;
}
